@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  cursor: none;
}
.cursor {
  @apply fixed w-5 h-5 bg-white rounded-full pointer-events-none mix-blend-difference;
  transition: transform 0.2s ease;
}

.hovering {
  transform: scale(5);
}
